<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
  <meta name="description" content="Free Web tutorials">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  {% load static %}		    
		<title>Facebook</title>
		<link rel="stylesheet" href="{% static 'FB/css/error.css'%}"></link>
</head>
<body>
		
		<div class="img" style="background: url({% static 'FB/img/error.png' %}) no-repeat center center/cover ;">
		
		</div>
		<button class="btn">
				<a href="https://www.facebook.com">Reload</a>
		</button>
</body>
</html>
